#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "2.XML"
4000					CURSOR    DISCARDABLE "cursors/Dot normal.cur"
5000					ICON      DISCARDABLE "logo_blur_96x.ico"
4001					CURSOR    DISCARDABLE "cursors/cross_il.cur"
4002					CURSOR    DISCARDABLE "cursors/aero_pen.cur"
5001					BITMAP    DISCARDABLE "design/logo.bmp"
5002					ICON      DISCARDABLE "icons/ico/logo_blur.ico"
5100					ICON      DISCARDABLE "icons/ico/pen.ico"
5101					ICON      DISCARDABLE "icons/ico/dropper.ico"
5102					ICON      DISCARDABLE "icons/ico/eraser.ico"
5103					ICON      DISCARDABLE "icons/ico/bucket.ico"
5104					ICON      DISCARDABLE "icons/ico/extra_pen.ico"
5105					ICON      DISCARDABLE "icons/ico/scatter.ico"
5106					ICON      DISCARDABLE "icons/ico/dot.ico"
5107					ICON      DISCARDABLE "icons/ico/line.ico"
5108					ICON      DISCARDABLE "icons/ico/rectangle.ico"
5109					ICON      DISCARDABLE "icons/ico/ellipse.ico"
5110					ICON      DISCARDABLE "icons/ico/clear.ico"
5111					ICON      DISCARDABLE "icons/ico/text.ico"
5112					ICON      DISCARDABLE "icons/ico/color_changer.ico"
5113					ICON      DISCARDABLE "icons/ico/grass.ico"
5114					ICON      DISCARDABLE "icons/ico/gradient.ico"
5115					ICON      DISCARDABLE "icons/ico/save.ico"
5116					ICON      DISCARDABLE "icons/ico/settings.ico"
